<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitPub</title>

    <style type="text/css">
        body {
            color: black;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: coral;

        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
    </style>

</head>
<body>

    <h1>At Foo Bar</h1>
    <h2><%= drink.name %></h2>
    <img src="<%= drink.image %>" alt="<%= drink.name %> Image">
    <h3>$<%= drink.price %></h3>
    <a href="/drinks">Back</a> 

</body>
</html>